body {
    background-color: rgb(126, 126, 126);
}

main {
    width: 50%;
    margin: 1% auto;
}

form {
    background-color: white;
    margin-bottom: 20px;
}

/******** form 1 **********/

#f1 {
    padding-left: 5%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 0.5%;
}

#f1 label {
    font-weight: bold;
    display: block;
}

sup {
    color: red;
}

#email_f1, #subject_f1, #message_f1 {
    width: 100%;
    box-sizing: border-box;
}

#firstName_f1, #lastName_f1 {
    box-sizing: border-box;
    width: 49%;
}

#f1 select {
    background-color: rgb(139, 139, 139);
    padding: 0.75em;
    color: black;
}

#f1 input, #f1 select, #f1 textarea {
    margin-bottom: 1em;
    margin-top: 0.2em;
    border-radius: 0;
    border: solid 1px grey;
}

#f1 input {
    padding: 0.75em;
}

#f1 textarea {
    max-width: 100%;
    min-height: 10em;
}

#f1 input[type="submit"] {
    padding: 0.5em 1em;
    color: white;
    background-color: rgb(93, 131, 148);
    margin-bottom: 0;
}

/******** form 2 **********/

#f2 {
    padding-left: 5%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

#name_f2, #email_f2, #phone_f2, #f2 select {
    position: static;
    display: inline-block;
    box-sizing: content-box;
    margin-bottom: 1em;
    margin-top: 0.2em;
    border: solid 1px grey;
    width: 40%;
    margin-right: 20%;
    border-radius: 5px;

}

#name_f2, #email_f2 {
      opacity: 0.5;
      box-shadow: 0 0 5px grey;
}

#f2 textarea {
    width: 60%;
    min-height: 10em;
}

#f2 h1 {
    font-weight: bold;
    font-style: italic;
}

#phone_f2 {
    border: none;
}

#f2 input {
    line-height: 2em;
}

#f2 label {
    font-weight: bold;
    display: inline-block;
    width: 20%;
}

#f2 label[for="message_f2"] {
      vertical-align: top;
}

#f2 input[type="tel"] {
    width: 10%;
}

#f2 hr {
    opacity: 0.5;
    height: 2px;
    background-color: rgb(171, 171, 171);
    color: rgb(171, 171, 171);
    border: none;
    margin-bottom: 1.5em;
}
#f2 span{
    font-size: 2em;

}
#f2 input[type="submit"] {
    display: block;
    padding: 0.5em 1em;
    color: white;
    background-color: rgb(255, 130, 0);
    border-radius: 5px;
    border: none;
    margin-bottom: 0;
    margin-left: 20%;
    margin-top: 1em;
}

#f2 select option {
  padding: 1em;
}

#f2 select {
  width: 20%;
  margin-right: 40%;
  background-color: rgb(198, 198, 198);
}

/******** form 3 **********/
#f3 {
    padding-top: 0.5em;
    padding-bottom: 0.1em;
    padding-right: 20%;
    padding-left: 2%;
}

#f3 fieldset {
    background-color: #fff4f4;
    border: 2px solid #ffd2d2;
    padding-left: 5%;
    border-radius: 10px;
    color: #f17fb1;
    font-weight: bold;
}
#f3 fieldset:first-child {
    margin-bottom: 1em;
}

#f3 legend {
  font-weight: normal;
  border: 2px solid #ffd2d2;
  border-bottom: none;
  padding: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff4f4;
}

#f3 label {
  display: inline-block;
  width: 30%;
  margin-top: 1em;
}

#f3 input, #f3 select {
  display: inline-block;
  width: 40%;
  margin-right: 20%;
  box-sizing: content-box;
}

#f3 fieldset :last-child {
  margin-bottom: 2em;
}

#f3 textarea {
  width: 50%;
  margin-right: 10%;
  min-height: 10em;
}

#f3 select {
  color:#f17fb1;
}

#f3 input, #f3 select, #f3 textarea {
  border-color: #f17fb1 0.2;
  box-shadow: inset 1px 1px 2px #f17fb1;
  background-color: rgba(251, 170, 214, 0.2);
  border-style: solid;
  border-radius: 5px

}

#f3 input[type="submit"] {
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 0;
    margin-left: 30%;
    margin-top: 1em;
}

#f3 select option {
  padding: 1em;
}
#f3 label[for="message_f3"] {
      vertical-align: top;
}
