body{
  background-color: rgb(126, 126, 126);
}

main {
  width: 50%;
  margin: 1% auto;
  background-color: white;
}

form
{

}

/******** form 1 **********/
#f1
{
    padding-left: 5%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 0.5%;
}

#f1 label {
  font-weight: bold;
  display: block;

}
#f1 sup
{
    color: red;
}
#email_f1, #subject_f1, #message_f1
{
    width: 100%;
    box-sizing: border-box;
}
#firstName_f1, #lastName_f1
{
    box-sizing: border-box;
    width: 49%;
}

#f1 select
{
    background-color: rgb(139, 139, 139);
    padding: 0.5em;
    color: black;
}
/******** form 2 **********/
